In [5]:
import matplotlib
import pandas
print pandas.__version__
print matplotlib.__version__
appu = 'hello world'
#print appu[3:7]

0.20.1
2.0.2

In [11]:
list1 = ['appu','shivam','jyotsana']
#print list1[1]
subjects = ['maths','physics','chem','bio']
firstyearmarks = [50,60,70,80]
secondyearmarks = [45,76,90,55]
thirdyearmarks = [54,66,43,65]
transcript = [firstyearmarks, secondyearmarks, thirdyearmarks]
#print firstyearmarks[2]
print transcript[1][2]

90

In [17]:
print "bodhisatta.maiti@gmail.com"

'''
hhhhhha
'''

bodhisatta.maiti@gmail.com

'\nhhhhhha\n'

In [18]:
for i in range(10):
    print 'the index is:',i

the index is: 0
the index is: 1
the index is: 2
the index is: 3
the index is: 4
the index is: 5
the index is: 6
the index is: 7
the index is: 8
the index is: 9

In [27]:
a = 'appu'
b = {
    'name':'bodhi'
}
c = {1,1,3,5,3}
d = {}
e = set()
f = (10,20,50)
#print c
print type(f)

<type 'tuple'>

In [34]:
from numpy import *

a = array([2,3,5,6])
b = array([7,8,9,10])
c = [2,3,5,6]
d = [7,8,9,10]
print type(a)
print type(c)
print a+b
print c+d

<type 'numpy.ndarray'>
<type 'list'>
[ 9 11 14 16]
[2, 3, 5, 6, 7, 8, 9, 10]

In [12]:
class Employee:

    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

appu = Employee('Aparajita', 'Pandey', 100000)
print appu.pay
appu.apply_raise()
print appu.pay


class Developer(Employee):
    raise_amt = 1.10

    def __init__(self, first, last, pay, prog_lang):
        Employee.__init__(self,first, last, pay)
        self.prog_lang = prog_lang


class Manager(Employee):

    def __init__(self, first, last, pay, employees=None):
        Employee.__init__(self,first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees

    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        for emp in self.employees:
            print('-->', emp.fullname())

dev_1 = Developer('Corey', 'Schafer', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')
#classmethods staticmethods
mgr_1 = Manager('Sue', 'Smith', 90000, [dev_1])

print(mgr_1.email)
mgr_1.print_emps()
mgr_1.add_emp(dev_2)
mgr_1.print_emps()
mgr_1.remove_emp(dev_1)
mgr_1.print_emps()

100000
104000
Sue.Smith@email.com
('-->', 'Corey Schafer')
('-->', 'Corey Schafer')
('-->', 'Test Employee')
('-->', 'Test Employee')