In [2]:
import pandas as pd

In [3]:
survey_df = pd.read_csv("/Users/aparajita/Downloads/Survey_Data.csv")

In [4]:
survey_df.head()

            CommentId            SurveyId Comment
0  a0fA0000000K0zoIAC  a0gA0000003C2FsIAK     NaN
1  a0fA0000000K0zpIAC  a0gA0000003C2FsIAK     NaN
2  a0fA0000000K0zqIAC  a0gA0000003C2FsIAK     NaN
3  a0fA0000000K0zrIAC  a0gA0000003C2FsIAK     NaN
4  a0fA0000000K0zsIAC  a0gA0000003C2FsIAK     NaN

In [5]:
survey_df[survey_df['SurveyId'] == 'a0gA0000003C2FsIAK'].head()

            CommentId            SurveyId Comment
0  a0fA0000000K0zoIAC  a0gA0000003C2FsIAK     NaN
1  a0fA0000000K0zpIAC  a0gA0000003C2FsIAK     NaN
2  a0fA0000000K0zqIAC  a0gA0000003C2FsIAK     NaN
3  a0fA0000000K0zrIAC  a0gA0000003C2FsIAK     NaN
4  a0fA0000000K0zsIAC  a0gA0000003C2FsIAK     NaN

In [6]:
survey_df[(survey_df['SurveyId'] == 'a0gA0000003C2FsIAK') & (survey_df['CommentId'] == 'a0fA0000000K0zoIAC')].head()

            CommentId            SurveyId Comment
0  a0fA0000000K0zoIAC  a0gA0000003C2FsIAK     NaN

## Data Cleaning & Prep

In [7]:
survey_df.shape

(63841, 3)

In [8]:
survey_df['SurveyId'].nunique()

117

In [9]:
survey_df['CommentId'].nunique()

63841

In [10]:
survey_df['SurveyId'].value_counts().head(10)

a0gA0000000JYNXIA4    8412
a0gA0000006H6eUIAS    4967
a0gA0000000JKG5IAO    4654
a0gA0000003C2FsIAK    3765
a0gA0000000JKGAIA4    3593
a0gA0000000Is79IAC    3382
a0gA0000005CpPyIAK    2698
a0gA0000005Ckb6IAC    2302
a0gA0000005CkbBIAS    2273
a0gA0000000JL6GIAW    2215
Name: SurveyId, dtype: int64

In [11]:
survey_df[pd.isnull(survey_df['Comment'])].shape

(54815, 3)

In [12]:
survey_df_clean = survey_df[~pd.isnull(survey_df['Comment'])].copy()

In [13]:
survey_df_clean.head()

              CommentId            SurveyId                    Comment
35   a0fA0000000K10NIAS  a0gA0000003C2FsIAK    dave.w.wright@gmail.com
70   a0fA0000000K10wIAC  a0gA0000003C2FsIAK                    support
72   a0fA0000000K10yIAC  a0gA0000003C2FsIAK        tkelly@t-edward.com
108  a0fA0000000K11YIAS  a0gA0000003C2FsIAK  cdevita@growthprocess.com
181  a0fA0000000K17tIAC  a0gA0000003C2FsIAK    james.ruttley@ideas.com

In [14]:
def find_word_count(input_string):
    word_list = input_string.split()
    word_len = len(word_list)
    return word_len

In [15]:
find_word_count("this is a test string")

5

In [16]:
#survey_df_clean['Comment'].apply(len)

In [17]:
survey_df_clean['WordCount'] = survey_df_clean['Comment'].apply(find_word_count)

In [18]:
survey_df_clean.head()

,CommentId,SurveyId,Comment,WordCount
35,a0fA0000000K10NIAS,a0gA0000003C2FsIAK,dave.w.wright@gmail.com,1
70,a0fA0000000K10wIAC,a0gA0000003C2FsIAK,support,1
72,a0fA0000000K10yIAC,a0gA0000003C2FsIAK,tkelly@t-edward.com,1
108,a0fA0000000K11YIAS,a0gA0000003C2FsIAK,cdevita@growthprocess.com,1
181,a0fA0000000K17tIAC,a0gA0000003C2FsIAK,james.ruttley@ideas.com,1

In [19]:
survey_df_clean['WordCount'].describe()

count    9026.000000
mean       25.091403
std        36.322156
min         1.000000
25%         4.000000
50%        13.000000
75%        31.000000
max       520.000000
Name: WordCount, dtype: float64

In [20]:
survey_df_clean[survey_df_clean['WordCount'] == 520]['Comment'].values

array([ 'Move down south more to Santa Clara because the drive to and from the East Bay is murder.  The Fremont BART parking lot fills up so fast so early I was unable to ever park and ride from there and had to keep trying different stations each day which were usually all packed as well.\r\rHave fewer topics and make most of the sessions occur once or twice per day.  Once in the morning and one in the afternoon on one day or once in the morning on day 1 and one in the afternoon on day 2.  There were at least 3-4 topics I wanted to sit in on all going on at the same time so I had to make do with just the one session I could ever attend.  WIth fewer topics and having them occur more than once it would be easier for people to attend more of the topics that interest them.\r\rPay attention to session attendance.  I was only scanned once on the first day out of the 5 sessions I attended and in two cases, the rooms were so packed, some of us were sitting on the floor around the walls.  Topics that popular are a huge indicator that you need to hold it again later that day or the next day so some real time session adding could be useful.\r\rOne of the restaurants (the sausage one) was very strict about when you could use coupons and they even put out a sign that they were only taking 25 Pulse coupons on the third day, which was a very poor choice and I was surprised to see that someone running Pulse did not go over there to resolve that issue.\r\rLess marketing in the sessions.  There were a few sessions I attended, i would up walking out on because it was more about how we use our product to get CSM results.  The marketing should be left out in the kiosk area.  If these sessions still need to occur, then make it very clear in the description that thi is going to be focused on such and such company and their software.  This wasted my time when I could have attended another session that was interesting to me and would have been more useful.  \r\rHats!  What happened to the Pulse hats this year?  I still wear last years hat and was looking forward to a new version because love it so much!\r\rHave bigger sized shirts.  I wear a 2XL and the largest you had was XL.  That was very disappointing and made me feel left out because CSM\'s apparently can\'t be on the larger side.\r\rGet better quality of security guards.  Some were really good but many were very "ghetto" acting and spoke inappropriately.\r\rLower the price.  I am sure many others could not attend because the price was too high.  If not, then offer multiple pass types like a free third day pass, a first day pass, a second day pass and a first/second day pass all with different price points and ONE food coupon per day instead of two.'], dtype=object)

In [21]:
print survey_df_clean.shape
print survey_df_clean[survey_df_clean['WordCount'] > 30].shape

(9026, 4)
(2313, 4)

In [22]:
survey_df_clean_more = survey_df_clean[survey_df_clean['WordCount']>30].copy()

In [23]:
survey_df_clean_more.head()

,CommentId,SurveyId,Comment,WordCount
1578,a0fA0000000KqDUIA0,a0gA0000000IdYmIAK,Having a professional services person owning t...,49
1585,a0fA0000000KqDbIAK,a0gA0000000IdYmIAK,The responsiveness of the team was great. The...,73
1599,a0fA0000000KtQiIAK,a0gA0000000IdYmIAK,What worked: \r* Tight ship - kept things on t...,90
2437,a0fA0000004Y4nbIAC,a0gA0000003CV6RIAW,I think there is so much potential for Gainsig...,56
2508,a0fA0000004YC2ZIAW,a0gA0000003CV6RIAW,"We rely heavily on Gainsight, and it is deepl...",58

In [24]:
import os

In [25]:
for index,row in survey_df_clean_more.iterrows():
    with open("/Users/aparajita/Documents/survey_data_of_tp/"+str(row['SurveyId'])+"_"+str(row['CommentId'])+".txt",
              'w') as file_for_write:
        file_for_write.write(str(row['Comment']))

In [26]:
# for index,row in survey_df_clean_more.iterrows():
#     print index,"\n" ,row
#     print row['CommentId']
#     print row['SurveyId']
#     print row['Comment']
#     print "/Users/aparajita/Documents/survey_data_of_tp/" + str(row['SurveyId'])+ "_" + str(row['CommentId'])+".txt"
#     break

In [27]:
# CORPUS_PATH = os.path.join('data', 'austen-brontÃ«-split')
CORPUS_PATH = "/Users/aparajita/Documents/survey_data_of_tp"

filenames = sorted([os.path.join(CORPUS_PATH, fn) for fn in os.listdir(CORPUS_PATH)])

In [28]:
# filenames

In [29]:
print len(filenames)
type(filenames)

2314

list

In [30]:
filenames[:5]

['/Users/aparajita/Documents/survey_data_of_tp/.DS_Store',
 '/Users/aparajita/Documents/survey_data_of_tp/a0gA0000000IdYmIAK_a0fA0000000KqDUIA0.txt',
 '/Users/aparajita/Documents/survey_data_of_tp/a0gA0000000IdYmIAK_a0fA0000000KqDbIAK.txt',
 '/Users/aparajita/Documents/survey_data_of_tp/a0gA0000000IdYmIAK_a0fA0000000KtQiIAK.txt',
 '/Users/aparajita/Documents/survey_data_of_tp/a0gA0000000InCbIAK_a0fA0000005YTZzIAO.txt']

In [31]:
import numpy as np  # a conventional alias

import sklearn.feature_extraction.text as text

In [32]:
vectorizer = text.CountVectorizer(input='filename', stop_words='english', min_df=20,encoding='latin')

In [33]:
#vectorizer

In [34]:
dtm = vectorizer.fit_transform(filenames).toarray()

In [35]:
print dtm.shape
dtm

(2314, 716)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [36]:
vocab = np.array(vectorizer.get_feature_names())

In [37]:
# vocab

In [38]:
 dtm.shape

(2314, 716)

In [39]:
len(vocab)

716

In [40]:
from sklearn import decomposition

In [41]:
num_topics = 20

In [42]:
num_top_words = 20

In [43]:
clf = decomposition.NMF(n_components=num_topics, random_state=1)

In [44]:
doctopic = clf.fit_transform(dtm)

In [45]:
dir(clf)

['__class__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__getstate__',
 '__hash__',
 '__init__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_param_names',
 'alpha',
 'beta',
 'components_',
 'eta',
 'fit',
 'fit_transform',
 'get_params',
 'init',
 'inverse_transform',
 'l1_ratio',
 'max_iter',
 'n_components',
 'n_components_',
 'n_iter_',
 'nls_max_iter',
 'random_state',
 'reconstruction_err_',
 'set_params',
 'shuffle',
 'solver',
 'sparseness',
 'tol',
 'transform',
 'verbose']

In [97]:
topic_words = []
for topic in clf.components_:
    word_idx = np.argsort(topic)[::-1][0:num_top_words]
    topic_words.append([vocab[i] for i in word_idx])
type(topic_words)

list

In [76]:
topic_words[19]

[u'implementation',
 u'process',
 u'did',
 u'sales',
 u'project',
 u'plan',
 u'issues',
 u'took',
 u'end',
 u'job',
 u'better',
 u'good',
 u'overall',
 u'list',
 u'didn',
 u'level',
 u'understand',
 u'features',
 u'bit',
 u'clear']

In [53]:
mealCost = 12
tipPercent = (double)12*20/100
print tipPercent
taxPercent = 12*8/100
print taxPercent

totalCost = mealCost+tipPercent+taxPercent
totalCost

SyntaxError: invalid syntax (<ipython-input-53-cdde4c57231d>, line 2)